{% extends "base.html" %}
{% block content %}
<form class="search" action="/" method="get">
  <input type="text" name="query" placeholder="Collez un identifiant (LEGIARTI..., JORFARTI..., CETATEXT...) ou une URL Légifrance" value="{{ query }}">
  <button type="submit">Rechercher</button>
</form>
{% if error %}
<p class="small">{{ error }}</p>
{% elif md %}
<label class="render-toggle"><input type="checkbox" id="toggle-html"> Afficher en HTML</label>
<textarea id="md-output" readonly wrap="soft" tabindex="0" class="md-textarea" spellcheck="false">{{ md }}</textarea>
<div id="html-output" class="rendered hidden"></div>
{% endif %}
{% endblock %}
